.nameStyle {
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .occupationStyle {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .occupationStyle input{
    background: transparent;
    border: none;
    outline: none;
  }

  .headerItems {
    margin-left: 0.5rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  
  .colorCirclesStyle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid black;
  }
  
  .contactStyles {
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .contactStyles:focus {
    border: none;
  }
  